fastapi
uvicorn
PyYAML~=6.0.1
pytz
requests
numpy
pandas
pypinyin
lxml
beautifulsoup4
redis
paramiko
xlrd==1.2.0
langchain
openai
fastapi_scheduler
asyncer
websockets
py2neo~=2021.2.4
langchain==0.0.161

